.topbar {
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: var(--bg-soft);
  position: absolute;
  width: 100%;
}

.topbar .button-general,
.topbar .modal-button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--radius-circle);
  cursor: pointer;
  margin: 0 0.3rem;
  border: none;
}
.topbar .search-container{
  height: 1.5rem;
  width: 50%;
  margin: 0 auto;
}
.topbar .modal-overlay{
  background-color: transparent;
}

.topbar .modal-content{
  position: absolute;
  right: 1rem;
  top:3rem;
  width: 20rem;
}

/*labels*/
.topbar .modal-content .modal-body p{
  border-radius: var(--radius-pill);
  margin: 0.3rem;
  padding: 0.3rem;
}
.topbar .modal-content .modal-body p:hover{
  background-color: var(--bg-soft);
}
/*log out*/
.topbar .modal-body .log-out{
  border-radius: var(--radius-pill);
  background-color: var(--error);
  color: var(--bg-base);
  margin: 0.5rem;
  padding: 0.3rem;
  border: none;
  transition: 0.3s ease;
}
.topbar .modal-body .log-out:hover{
  transform: scale(1.1);
}

/*Status*/
.status-container {
  display: flex;
  align-items: center;
}
.icon {
  transform: scale(0.5);
}

/* Colores por estado */
.activo {
  color: green;
}

.desactivado {
  color: red;
}

.no-molestar {
  color: orange;
}

.desconocido {
  color: gray;
}