.sidebar {
  background-color: #4e4e4e;
  height: calc(100vh - 1.75rem);
  margin-top: 1.75rem;
  position: absolute;
  width: 3.5rem;
  top: 0;
  left: 0;
}

.sidebar .button-general,
.modal-button {
  border-radius: 10px;
    margin: 0.25rem;
    cursor: pointer;
    height: 3rem;
    border: none;
    width: 3rem;
}
.sidebar .button-general:hover,
.modal-button:hover{
  transform: translateY(-1px);
}
