:root {
  /* Bordes y radios */
  --radius-circle: 50%;
  --radius-pill: 40rem;
  --radius-search: 8px;

  /* Texto */
  --text-primary: #2b2b2b;
  --text-secondary: #6b7280;

  /* Fondos */
  --bg-base: #ffffff;
  --bg-soft: #f5f5f5;

  /* Marca */
  --primary: #1e3a8a;
  --primary-hover: #1e40af;

  /* Estados */
  --success: #16a34a;
  --error: #dc2626;
}

.theme-dark {
  /* Texto */
  --text-primary: #f9fafb;
  /*texto primario paara probar#D4D4D4*/
  --text-secondary: #9ca3af;

  /* Fondos */
  --bg-base: #111827;
  --bg-soft: #1f2937;

  /* Marca */
  --primary: #3b82f6;
  --primary-hover: #2563eb;
}

.theme-black {
  /* Texto */
  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;

  /* Fondos */
  --bg-base: #000000;
  --bg-soft: #18181b;

  /* Marca */
  --primary: #e5e5e5;
  --primary-hover: #ffffff;
}

.theme-purple {
  /* Texto */
  --text-primary: #f5f3ff;
  --text-secondary: #c4b5fd;

  /* Fondos */
  --bg-base: #140f2d;
  --bg-soft: #1e1b4b;

  /* Marca */
  --primary: #7c3aed;
  --primary-hover: #6d28d9;
}