.calendar-container{
    margin-top: 1.5rem;
}

.calendar-delete-btn{
    border-radius: var(--radius-pill);
    height: 2rem;
    width: 5rem;
    border: 1px solid var(--text-secondary);
    color: var(--bg-base);
    transition: 0.3s ease;
    background-color: var(--error);
}

.calendar-delete-btn:hover{
    transform: scale(1.1);
}

.rbc-off-range-bg {
    background: var(--bg-soft);
}